body{background-color: black; 
    font-style: italic; color: cornsilk;}

    H1{font-size: 24px; color: rgb(248, 212, 9);}
    
    .bordered{
        border:1px solid black;
        padding:1rem;
        width:10rem;
        height:10rem;
    }